.flights-container {
    padding: 0rem 5rem;
    padding-bottom: 4rem;
    h2 {
        padding: 5rem 0rem;
        span {
            font-style: initial;
            font-weight: 600;
            text-decoration: none;
            background: linear-gradient(135deg, rgba(168,230,217,1) 7%, rgba(165,121,235,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            
        }
    }

    .card-container {
        min-height: 60vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 4rem;
        @media (max-width: 600px) {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
        .card-flight {
            height: 23vh;
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
            text-align:center;
            border-radius: 0.5rem;
            .one, .two {
                padding: 1.6rem;
            }
            .two span {
                font-weight: 600;
                text-decoration: none;
                background: linear-gradient(135deg, #a8e6d9 7%, #a579eb 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
            }
            .three {
                background: linear-gradient(135deg, #a8e6d9 7%, #a579eb 100%);
                border-radius: 0.5rem;
                h3 {
                    color: whitesmoke;
                }
            }
            .text {
                display: flex;
                width: calc(100% / 3) ;
                flex-direction: column;
                justify-content: center;
            }
            .two h3 span, .three h3 span {
                font-size: 1.7rem;
            }
        }
    }
}