.flights-container {
    padding: 0rem 5rem;
    padding-bottom: 4rem;
    @media (max-width: 600px) {
        padding: 0rem 2rem;
    }
    h2 {
        padding: 5rem 0rem;
        span {
            font-style: initial;
            font-weight: 600;
            text-decoration: none;
            background: linear-gradient(135deg, rgba(168,230,217,1) 7%, rgba(165,121,235,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            
        }
        @media (max-width: 600px) {
            padding: 3rem 0rem;
        }
    }

    .card-container {
        min-height: 60vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 4rem;
        @media (max-width: 600px) {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
        .card-flight {
            height: 23vh;
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.2);
            text-align:center;
            border-radius: 0.5rem;
            .one, .two {
                padding: 1.6rem;
            }
            .two span {
                font-weight: 600;
                text-decoration: none;
                background: linear-gradient(135deg, #a8e6d9 7%, #a579eb 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
                cursor: pointer;
            }
            .three {
                background: linear-gradient(135deg, #c6f4ea 7%, #9e92db 100%);
                border-radius: 0.5rem;
                box-shadow: inset 3px 0px 3px -1px rgba(0,0,0,0.18);
                -webkit-box-shadow: inset 3px 0px 3px -1px rgba(0,0,0,0.18); 
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                h3 {
                    color: whitesmoke;
                }
            }
            .text {
                display: flex;
                width: calc(100% / 3) ;
                flex-direction: column;
                justify-content: center;
            }
            .two h3 span, .three h3 span {
                font-size: 1.7rem;
                @media (max-width: 600px) {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.shadow {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index:10;
    .detail {
        padding: 1rem;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
        width: 40%;
        height: 50%;
        border-radius: 0.5rem;
        margin: 4rem 0rem;
        background: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        z-index:10;
        overflow: hidden;
        .map-cont {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 0.3rem;
        }
        @media (max-width: 1100px) {
            width: 50%;
        }
        @media (max-width: 900px) {
            width: 80%;
        }
        @media (max-width: 600px) {
            width: 85%;
        }
    }
}