.flights-container {
    padding: 0rem 5rem;
    padding-bottom: 4rem;
    h2 {
        padding: 5rem 0rem;
        span {
            font-style: initial;
            font-weight: 600;
            text-decoration: none;
            background: linear-gradient(135deg, rgba(168,230,217,1) 7%, rgba(165,121,235,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            
        }
    }
    .card-container {
        min-height: 60vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 4rem;
        @media (max-width: 600px) {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
        .card-flight {
            height: 30vh;
            box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
            padding: 1.6rem;
            padding-top:0rem;
            text-align:center;
            border-radius: 0.5rem;
            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}